<% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
<% end %>

<div id="mainLogo">
    <img src="logo_no_text_small.png"/>
</div>

<div id="mainScreen">
  <h1 id="header">Singularity</h1>
  <h3 id="subheader">The Smart Suite for Smart Scholars</h3>
  <div class="container">
    <div class="btncol">
      <ul>
        <li><a href="/register" class="btn btn-large btn-primary">Sign Up</a></li>
        <li><a href="/login" class="btn btn-large btn-primary">Log In</a></li>
        <!-- <li><a href="#" class="btn btn-large btn-block btn-info">button 3</a></li> -->
      </ul>
    </div>
  </div>
</div>
<!-- /.container -->