
<div class="container">
<div class="row">
  <div class="span3">
  </div>
  <div class="span6">
  <table class="table table-bordered">
    <thead>
        <td>Collaborations</td>
    </thead>
    <tbody>
      <% @collabs.each do |c| %>
      <tr>
        <td><%= link_to c.name, c %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="span3">
  </div>

</div>
<div class="row">
  <div class="span3">
  </div>
  <div class="span6">
  
    <%= link_to "Create Collaboration", new_collaboration_path, :class => "btn btn-primary" %>
    </div>
  <div class="span3">
  </div>

</div>
</div>