
<div class="container">
<div class="row">
  <div class="span3">
  </div>
  <div class="span6">
  <table class="table table-bordered">
    <thead>
        <td><%= @collab.name%> - Articles</td>
    </thead>
    <tbody>
      <% @articles.each do |c| %>
      <tr>
        <td><%= link_to c.name, c %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="span3">
  </div>

</div>
<div class="row">
  <div class="span3">
  </div>
  <div class="span6">
  
    <%= link_to "Add Article", new_article_path(:collaboration_id => @collab.id), :class => "btn btn-primary" %>
    </div>
  <div class="span3">
  </div>

</div>
</div>