#mainLogo {
  float: left;
  position: absolute;
  margin-left: 120px;
  margin-top: 10px;
}

#mainScreen {
  float: right;
  margin-right: 10px;
  width: 50%;
}

#header {
  color: #34495e;
  font-size: 120px;
  font-weight: 100;
  font-family: 'Lobster',sans-serif;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 90px;
  padding: 0;
  word-wrap: break-word;
}

#subheader {
  color: #bdc3c7;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.1;
  margin-bottom: 50px;
  padding: 0;
  word-wrap: break-word;
}

.btncol {
  ul {
    margin: 0px;
    li {
      display: inline;
      padding: 0px;
      margin-right: 20px;
      .btn {
        width: 100px;
      }
    }
  }
}